body {
  background-color: #aaffaa;
  background-image: url('/images/bricks.jpg');
  background-size: cover;
}

#authentication {
  margin-top: 2em;
}

#main-view {
  height: 90vh;
  /* padding-top: 60px; */
}
/* LEFT SIDE MODULE STYLES */

#left-side {
  height: 100%;
}

.left-module {
  height: 30%;
  background-color: lightblue;
  margin-bottom: 2%;
}

.left-module:last-of-type {
  margin-bottom: 0;
}

#tasks-view > .panel {
  height: 100%;
  overflow: auto;
}
#tasks-view {
  padding: 0;
}
#tasks-view .panel-heading h4 {
  margin: 5px 0;
}
.task .panel-body {
  padding: .5em;
}
.delete-task {
  position: absolute;
  right: 2em;
  top: 20%;
  cursor: pointer;
}
.task-item {
  cursor: pointer;
}



/* END LEFT SIDE MODULE STYLES */

/* RIGHT SIDE MODULE STYLES */

#right-side {
  height: 100%;
}

#friends-view {
  height: 33%;
  background-color: white;
  margin-bottom: 2%;
  padding: 0;
}

#messages-view {
  height: 63%;
  background-color: purple;
  margin-top: 2%;
  margin-bottom: 0;
  padding: 0;
}

#friends-tabs {
  background-color: #FFD300;
  color: white;
  margin: 0;
}

.tab-content {
  max-height: calc(100% - 42px);
  overflow-y: auto;
}

.friends-panel > ul {
  margin-bottom: 0;
}

/* removes some padding from friends list tabs on certain screen widths to prevent overflow */
@media only screen and (min-width: 992px) and (max-width: 1300px) {
  #friends-tabs > li > a {
    padding: 10px 5px;
  }
}

@media only screen and (min-width: 1700px) {
  #friends-tabs > li > a {
    padding: 10px 25px;
  }
}

[class*="friend-button"] {
  float: right;
  margin-top: -7px;
}

/* END RIGHT SIDE MODULE STYLES */

/* NAVBAR STYLES */

.navbar {
  background-color: pink;
  color: purple;
}

/* END OF NAVBAR STYLES */

/* MESSAGES STYLES */

#WhoSaidIt {
  padding-left: 10px;
}

.userMessage {
  padding-left: 20px !important;
}

#messageStatus {
  font-size: 10px;
  margin-top: 0;
  margin-bottom: 3px;
}

#add-message {
  margin-left: 50px;
  margin-top: 6px;
  background-color: palegreen;
}

#message-title {
  color: green;
}

#messages-panel {
  height: 100%;
}

#messages-text {
  height: calc(100% - 60px);
  overflow-y: auto;
}
/*      END MESSAGES STYLES */


/* end of navbar styles */


/* New Articles */

.fav {
  height: 36px;
  width: 36px;
}

#articles-view {
  padding: 0;
}

#newsSection {
  height: 100%;
}

#newsFeed {
  padding-top: 0;
  margin-top: 0;
  height: calc(100% - 55px);
  overflow-y: auto;
}

/* #events-view styles */
#events-view {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
}
.event-name {
  border-bottom: 1px solid lightgray;
  margin-top: 0;
}
.events-nav-header {
  border-bottom: 1px solid black;
  max-height: 50px;
}
.form-top-padding {
  padding-top: 20px;
}
.h2-spacing {
  line-height: 1.7;
}
.panel-event {
  margin: 0;
  padding: 0;
}
.panel-body {
  padding: 5px;
}
#events-view-data {
  margin: 0px 10px 0px 10px;
}
/* END of #events-view styles */


#createdMessage {
  align-self: center;
}

/* END OF MESSAGES STYLES */

