body {
  background-color: #aaffaa;
  background-image: url('/images/bricks.jpg');
  background-size: cover;
}

#authentication {
  margin-top: 2em;
}

#main-view {
  height: 90vh;
  /* padding-top: 60px; */
}
/* LEFT SIDE MODULE STYLES */

#left-side {
  height: 100%;
}

.left-module {
  height: 32%;
  background-color: lightblue;
  margin-bottom: 2%;
  overflow-y: scroll;
}

.left-module:last-of-type {
  margin-bottom: 0;
}

/* END LEFT SIDE MODULE STYLES */

/* RIGHT SIDE MODULE STYLES */

#right-side {
  height: 100%;
}

#friends-view {
  height: 33%;
  background-color: white;
  margin-bottom: 2%;
  padding: 0;
}

#messages-view {
  height: 63%;
  background-color: purple;
  margin-top: 2%;
  margin-bottom: 0;
  overflow-y: scroll;
}

#friends-tabs {
  background-color: #FFD300;
  color: white;
  margin: 0;
}

.tab-content {
  max-height: calc(100% - 42px);
  overflow-y: auto;
}

/* removes some padding from friends list tabs on certain screen widths to prevent overflow */
@media (min-width: 992px) and (max-width: 1300px) {
  #friends-tabs > li > a {
    padding: 10px 5px;
  }
}

.delete-friend-button,
.request-friend-button,
.accept-friend-button,
.reject-friend-button,
.cancel-friend-button,
.clear-rejected-friend-button {
  float: right;
  margin-top: -7px;
}

/* END RIGHT SIDE MODULE STYLES */

/* navbar styles */

.navbar {
  background-color: pink;
  color: purple;
}


/* end of navbar styles */

/* #events-view styles */

.event-name {
  border-bottom: 1px solid lightgray;
}
.events-nav-header {
  border-bottom: 1px solid black;
  max-height: 50px;
}
#events-add-new,
#events-view-all {
  padding-top: 20px;
  padding-bottom: 20px;
}
.form-top-padding {
  padding-top: 20px;
}
.h2-spacing {
  line-height: 1.7;
}

/*      END #events-view styles */