body {
  background-color: #aaffaa;
}

#authentication {
  margin-top: 2em;
}

#main-view {
  height: 95vh;
  padding-top: 60px;
}
/* LEFT SIDE MODULE STYLES */

#left-side {
  height: 100%;
}

.left-module {
  height: 32%;
  background-color: lightblue;
  margin-bottom: 2%;
  overflow-y: scroll;
}

.left-module:last-of-type {
  margin-bottom: 0;
}

/* END LEFT SIDE MODULE STYLES */

/* RIGHT SIDE MODULE STYLES */

#right-side {
  height: 100%;
}

#friends-view {
  height: 33%;
  background-color: red;
  margin-bottom: 2%;
  overflow-y: scroll;
}

#messages-view {
  height: 63%;
  background-color: purple;
  margin-top: 2%;
  margin-bottom: 0;
  overflow-y: scroll;
}

/* END RIGHT SIDE MODULE STYLES */

/* navbar styles */

.navbar {
  background-color: pink;
  color: purple;
}


/* end of navbar styles */